* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

bodyy {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.grade {
    display: grid;
    grid-template:
    "a1 a2"
    ;
    grid-template-columns: 4fr 15fr;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 12vh;
}

.area-esquerda {
    grid-area: a1;
    position: relative;
}

.texto {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    transform: rotate(180deg);
    transition: 500ms linear;
}

.grade:hover .texto{
    width: 200%;
}

h2 {
    writing-mode: vertical-lr;
    color: rgb(19, 19, 19);
    font-size: 14vh;
    line-height: 1em;
}

.area-direita {
    display: flex;
    grid-area: a2;
    position: relative;
    justify-content: center;
    align-items: center;
}

.imagem {
    position: absolute;
    background-image: linear-gradient(#0000, #0000), url(/abobora/image/5d67cfcdadddc9253da4da9a1d79e35a.jpg);
    background-position: center;
    height: 96%;
    width: 96%;
    border-radius: 10vh;
    right: 2%;
    transition: 800ms ease-out;
}

.grade:hover .imagem {
    width: 122%;
    background-image: linear-gradient(#000A, #000A), url(/abobora/image/5d67cfcdadddc9253da4da9a1d79e35a.jpg);
}

.texto-invisivel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1 / 2;
    color: #fff0;
    font-size: 11vh;
    transition: 500ms linear;
}

.grade:hover .texto-invisivel {
    color: #fff;
}

.botao-objetivos {
    position: absolute;
}

.botao-objetivos form button {
    background: transparent;
    height: 100vh;
    width: 100vw;
    border: none;
    color: transparent;
}

.botao-cronograma {
    position: absolute;
    height: 12vh;
    width: 32vh;
    border-radius: 4vh;
    justify-self: end;
    align-self: flex-end;
    bottom: 5vh;
    right: 5vh;
}

.botao-cronograma form button, .botao-cronograma form {
    background-color: rgb(240, 8, 104);
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    border: none;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.botao-cronograma form button div {
    position: relative;
    background-color: rgb(23, 22, 36);
    height: 80%;
    width: 30%;
    border-radius: 50vh;
}