* {
    margin: 0;
    position: relative;
    padding: 0;
    --border-radius: 3;
}

body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
}

.area-geral {
    background-color: aqua;
    width: 100%;
    height: 100%;
    /* width: 80vh; */
    aspect-ratio: 2 / 1;
    border-radius: calc(var(--border-radius) * 3vh);
}

.grade-principal {
    display: grid;
    grid-template: 
    "a1 a2"
    ;
    height: 100%;
}

/* area esquerda */
.area-esquerda {
    background: rgba(255, 20, 20, 1.6);
    grid-area: a1;
    height: 100%;
    aspect-ratio: 5 / 4;
    position: absolute;
    z-index: 2;
    border-radius: calc(var(--border-radius) * 3vh);
    display: grid;
}

.area-miniatura-video {
    position: absolute;
    background-color: slategray;
    height: 94%;
    aspect-ratio: 5 / 4;
    border-radius: calc(var(--border-radius) * 2.6vh);
    justify-self: center;
    align-self: center;
    overflow: hidden;
}

.area-miniatura-video img {
    position: absolute;
    width: 100%;
    height: 100%;
}
.area-miniatura-video form {
    position: absolute;
}
.area-miniatura-video form button {
    height: 100vh;
    width: 100vw;
    opacity: 0;
}

.etiqueta {
    background-color: rgb(210, 161, 255);
    height: 15%;
    width: 20%;
    border-radius: 0 0 calc(var(--border-radius) * 4vh) 0;
}

/* temporizador */
.tempo-do-video {
    width: 10%;
    aspect-ratio: 1/1;
    background-color: rgb(72, 21, 255);
    border-radius: 50vh;
    position: absolute;
    bottom: 1.5%;
    right: 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: .15vh;
}

.tempo-do-video.menor-que-um-minuto {
    background-color: transparent;
    --tempo-menor-que-um-minuto-cor-principal: hsl(0, 89%, 48%);
    --tempo-menor-que-um-minuto-cor-segundaria: hsla(0, 89%, 73%, 0.9);
}
.tempo-do-video.menor-que-um-minuto svg g:nth-child(3), g:nth-child(5), g:nth-child(6){
    stroke: var(--tempo-menor-que-um-minuto-cor-principal);
    fill: var(--tempo-menor-que-um-minuto-cor-segundaria);
}
.tempo-do-video.menor-que-um-minuto svg g:nth-child(4){
    stroke: var(--tempo-menor-que-um-minuto-cor-segundaria);
}


.tempo-do-video.menor-que-dez-minutos {
    background-color: transparent;
    --tempo-menor-que-dez-minutos-cor-principal: hsl(29, 89%, 48%);
    --tempo-menor-que-dez-minutos-cor-segundaria: hsla(29, 89%, 78%, 0.9);
}
.tempo-do-video.menor-que-dez-minutos svg g:nth-child(3), g:nth-child(5), g:nth-child(6){
    stroke: var(--tempo-menor-que-dez-minutos-cor-principal);
    fill: var(--tempo-menor-que-dez-minutos-cor-segundaria);
}
.tempo-do-video.menor-que-dez-minutos svg g:nth-child(4){
    stroke: var(--tempo-menor-que-dez-minutos-cor-segundaria);
}

.tempo-do-video.menor-que-uma-hora {
    background-color: transparent;
    --tempo-menor-que-uma-hora-cor-principal: hsl(61, 89%, 48%);
    --tempo-menor-que-uma-hora-cor-segundaria: hsla(61, 89%, 28%, 0.9);
}
.tempo-do-video.menor-que-uma-hora svg g:nth-child(3), g:nth-child(5), g:nth-child(6){
    stroke: var(--tempo-menor-que-uma-hora-cor-principal);
    fill: var(--tempo-menor-que-uma-hora-cor-segundaria);
}
.tempo-do-video.menor-que-uma-hora svg g:nth-child(4){
    stroke: var(--tempo-menor-que-uma-hora-cor-segundaria);
}


.tempo-do-video.menor-que-cinco-horas {
    background-color: transparent;
    --tempo-menor-que-cinco-horas-cor-principal: hsl(138, 89%, 48%);
    --tempo-menor-que-cinco-horas-cor-segundaria: hsla(138, 89%, 28%, 0.9);
}
.tempo-do-video.menor-que-cinco-horas svg g:nth-child(3), g:nth-child(5), g:nth-child(6){
    stroke: var(--tempo-menor-que-cinco-horas-cor-principal);
    fill: var(--tempo-menor-que-cinco-horas-cor-segundaria);
}
.tempo-do-video.menor-que-cinco-horas svg g:nth-child(4){
    stroke: var(--tempo-menor-que-cinco-horas-cor-segundaria);
}


.tempo-do-video.menor-que-dez-horas {
    background-color: transparent;
    --tempo-menor-que-dez-horas-cor-principal: hsl(187, 89%, 48%);
    --tempo-menor-que-dez-horas-cor-segundaria: hsla(187, 89%, 23%, 0.9);
}
.tempo-do-video.menor-que-dez-horas svg g:nth-child(3), g:nth-child(5), g:nth-child(6){
    stroke: var(--tempo-menor-que-dez-horas-cor-principal);
    fill: var(--tempo-menor-que-dez-horas-cor-segundaria);
}
.tempo-do-video.menor-que-dez-horas svg g:nth-child(4){
    stroke: var(-menor-que-dez-horas-tempo--cor-segundaria);
}


.tempo-do-video.maior-que-dez-horas {
    background-color: transparent;
    --tempo-maior-que-dez-horas-cor-principal: hsl(246, 89%, 48%);
    --tempo-maior-que-dez-horas-cor-segundaria: hsla(246, 89%, 68%, 0.9);
}
.tempo-do-video.maior-que-dez-horas svg g:nth-child(3), g:nth-child(5), g:nth-child(6){
    stroke: var(--tempo-maior-que-dez-horas-cor-principal);
    fill: var(--tempo-maior-que-dez-horas-cor-segundaria);
}
.tempo-do-video.maior-que-dez-horas svg g:nth-child(4){
    stroke: var(--tempo-maior-que-dez-horas-cor-segundaria);
}
/* temporizador fim */
/* area esquerda fim */

/* area direita */
.area-direita {
    background-color: rgba(18, 24, 51, 0.3);
    grid-area: a2;
    height: 100%;
    border-radius: 0 calc(var(--border-radius) * 3vh) calc(var(--border-radius) * 3vh) 0;
    display: grid;
    align-items: center;
}

/* orelhas */
.grade-interna-orelhas {
    height: 80%;
    width: 42%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
}

.grade-interna-orelhas:hover ~ .grade-interna-EM {
    width: 49%;
}

.area1, .area2, .area3, .area4 {
    background-color: rgba(255, 199, 16, 0.5);
    height: 25%;
    width: 88%;
    border-radius: calc(var(--border-radius) * 1.2vh);
    z-index: 1;
    left: 0;
    transition: 120ms ease;
    display: flex;
    justify-content: end;
}

.area1:hover, .area2:hover, .area3:hover, .area4:hover {
    left: 16%;
}

.area1 iframe{
    position: absolute;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: inherit;
    right: 0%;
    transition: .4s ease-out;
}

.area1:hover iframe {
    right: 6%;
}
/* orelhas fim */

.grade-interna-EM {
    position: absolute;
    background-color: darkgreen;
    height: 92%;
    width: 55%;
    justify-self: end;
    align-self: center;
    border-radius: calc(var(--border-radius) * 2.5vh);
    right: 4%;
    z-index: 0;
    transition: 350ms ease-in;
}
