* {
    margin: 0;
    position: relative;
}

body {
    background-color: #000;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grade-principal {
    background-color: #fff;
    height: 60%;
    aspect-ratio: 5/4;
    border-radius: 4vh 4vh 5vh 5vh;
}

.botao-perfil {
    height: 10%;
}
.botao-perfil * {
    width: 100%;
    height: 100%;
}

.botao-perfil button {
    background-color: chocolate;
    border: none;
    border-radius: 5vh;
}

.grupo-publico {
    bottom: 0;
    height: calc( 100% / 4 * 2.8);
    width: 100%;
    border-radius: inherit;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.grupo-publico iframe {
    width: 100%;
    height: 100%;
}
