* {
    margin: 0;
    position: relative;
}

body {
    background-color: #000;
    height: 100vh;
    width: 100vw;
}

.grade-principal {
    background-color: navy;
    height: 100%;
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 1%;
}

.botao form button {
    width: 100%;
    aspect-ratio: 1/1;
}

.texto01 {
    background-color: #444;
    aspect-ratio: 1/1;
    border-radius: 10px;
}
.texto01 p {
    padding: 5px;
    color: rgba(255, 255, 255, 0);
    font-size: 2em;
    text-shadow:
    2px 1px 2px rgb(2, 97, 42),
    -2px 1px 2px rgb(115, 255, 0),
    2px -1px 2px rgb(6, 56, 1),
    -2px -1px 2px rgb(8, 29, 3)
    ;
    -webkit-text-stroke: .2px rgb(115, 255, .8);
}

.texto02 {
    background-color: #ddd;
    aspect-ratio: 1/1;
}