* {
    margin: 0;
    position: relative;
}

body {
    background-color: #000;
    height: 100vh;
    width: 100vw;
}

.grade-principal {
    background-color: navy;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto 1fr 4fr;
}

.botao {
    grid-column: 1 / -1;
}

.botao form button {
    width: 100%;
    aspect-ratio: 10/1;
    background-color: rgb(255, 81, 0);
    border: none;
}

.preto {
    background-color: black;
    grid-column: 1 / -1;
}
.vermelho {
    background-color: red;
}
.laranja {
    background: orange;
}
.amarelo {
    background-color: yellow;
}
.verde {
    background-color: lime;
}
.azul {
    background-color: blue;
}
.roxo {
    background-color: rgb(111, 0, 255);
}

.texto01 {
    background-color: #4449;
    aspect-ratio: 1/1;
    border-radius: 10px;
}
.texto-verde01 p {
    padding: 5px;
    color: rgba(255, 255, 255, 0);
    font-size: 2em;
    text-shadow:
    2px 1px 2px rgb(2, 97, 42),
    -2px 1px 2px rgb(115, 255, 0),
    2px -1px 2px rgb(6, 56, 1),
    -2px -1px 2px rgb(8, 29, 3)
    ;
    -webkit-text-stroke: .4px rgb(115, 255, .8);
}
.texto-azul01 p {
    padding: 5px;
    color: rgba(255, 255, 255, 0);
    font-size: 2em;
    text-shadow:
    2px 1px 2px rgb(9, 22, 134),
    -2px 1px 2px rgb(50, 207, 255),
    2px -1px 2px rgb(13, 11, 104),
    -2px -1px 2px rgb(3, 6, 29)
    ;
    -webkit-text-stroke: .4px rgb(50, 207, 255);
}