* {
    margin: 0;
}

body {
    background-color: black;
}

.lista-de-pontos {
    background-color: rgb(35, 3, 65);
}

.lista {
    background-color: rgb(87, 7, 60);
    color: white;
    display: grid;
    grid-template-rows: auto;
    gap: .3vh;
}

.lista ul {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: .3vw;
}

.lista ul li {
    background-color: #fff;
    color: black;
    list-style: none;
    padding-left: .3vw;
    text-align: center;
}

.total {
    background-color: coral !important;
}



.Julie-Fyerk {
    background-color: hsl(266, 87%, 41%);
}

.Mio {
    background-color: #43cd6b;
}
