* {
    margin: 0;
}

body {
    display: flex;
    background-color: #000;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.texto-principal {
    background-color: rgb(7, 14, 117);
}

.texto-principal h1 {
    color: #fff;
}

.grade-principal {
    display: grid;
    min-height: 80%;
    width: 80%;
    grid-template-rows: auto auto 1fr;
}

.grade-segundaria {
    height: 452.39px;
    width: 595.19px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    position: relative;
}

.div-separadora {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 100%;
    color: #fff;
}

.div-separadora > div{
    aspect-ratio: 1/1;
}

.semana1, .semana2, .semana3, .semana4, .semana5{
    position: relative;
    border: solid 4px rgb(193, 230, 255);
    box-sizing: border-box;
    margin: 4px;
    height: calc(100% - 10px);
    width: calc(100% - 8px);
    grid-column: 1 / 9;
}

.borda-dourada {
    position: absolute;
    transform: translate(-10%);
    grid-column: 8 / 9;
    border: solid 4px rgb(255, 201, 25);
    box-sizing: border-box;
    width: calc(100% + 8px);
    height: calc(100% - 2px);
    z-index: -1;
}

.barra-dourada {
    position: absolute;
    transform: translate(-10%);
    grid-column: 8 / 9;
    border: solid rgb(255, 201, 25);
    border-width: 0 0 0 4px;
    box-sizing: border-box;
    width: 1px;
    height: calc(100% - 2px);
    z-index: 1;
    transform: translateX(-8px);
}

.grade-segundaria > div:nth-child(-n + 4) > div > div:nth-child(-n + 7){
    box-sizing: border-box;
    border: solid rgb(18, 202, 95, 0);
    border-width: 2px 1px;
}

.grade-segundaria > div:nth-child(-n + 4) > div > div:nth-child(8n + 8){
    box-sizing: border-box;
    border: solid rgb(0, 85, 243, 0);
    border-width: 2px 2px 2px 4px;
}

.grade-segundaria > div:nth-child(5n + 5) > div > div:nth-child(8n + 8){
    box-sizing: border-box;
    border: solid rgb(255, 156, 7, 0);
    border-width: 2px 2px 2px 4px;
    color: #000;
}

.grade-segundaria > div:nth-child(-n + 4) > div > div:nth-child(1) {
    border: solid rgba(18, 202, 95, 0);
    border-width: 2px 1px 2px 2px;
}

.grade-segundaria > div:nth-child(-n + 4) > div > div:nth-child(7) {
    border: solid rgba(18, 202, 95, 0);
    border-width: 2px 4px 2px 1px;
}

.div-separadora > div > .dia-da-semana {
    display: grid;
    grid-template-rows: 3fr 3.5fr 3.5fr;
}

.dia-da-semana {
    background-color: rgb(175, 252, 255);
    border-radius: 1ex;
    height: 100%;
    width: 100%;
}

.nome-do-dia {
    color: #000;
    border-radius: 1ex;
    text-align: center;
}

.pontos-cinza {
    background-color: rgba(37, 37, 37);
}

.pontos-colorido {
    background-color: rgb(180, 255, 118);
    color: #000;
}

.pontos-colorido, .pontos-cinza {
    border-radius: 1ex;
    text-align: center;
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    justify-self: center;
    align-self: center;
}

.emblema {
    display: flex;
    position: relative;
    border-radius: 1ex;
    height: 100%;
    background-color: rgba(119, 0, 255);
    justify-content: center;
    align-items: center;
}

.nucleo {
    background-color: rgb(255, 221, 69);
}

.emblema-texto {
    color: #000;
    text-align: center;
    border-radius: 1ex;
    height: 100%;
    opacity: 0;
    position: absolute;
}

.semana1 .emblema .gradiente {
    position: absolute;
    height: calc(100% - 8px);
    width: calc(100% - 8px);
    border-radius: 50%;
    background-image: -webkit-radial-gradient(  50%   0%,  8% 50%, hsla(34, 100%, 77%, 0.5) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient(  50% 100%, 12% 50%, hsla(34,100%,77%,.6) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient(   0%  50%, 50%  7%, hsla(34,100%,77%,.5) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient( 100%  50%, 50%  5%, hsla(34,100%,77%,.5) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient( 50% 50%, 200% 50%, rgb(255, 204, 138) 5%, rgb(224, 165, 87) 30%, rgb(201, 119, 12) 100%);
}

.semana2 .emblema .gradiente {
    position: absolute;
    height: calc(100% - 8px);
    width: calc(100% - 8px);
    border-radius: 50%;
    background-image: -webkit-radial-gradient(  50%   0%,  8% 50%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient(  50% 100%, 12% 50%, hsla(0,0%,100%,.6) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient(   0%  50%, 50%  7%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient( 100%  50%, 50%  5%, hsla(0, 0%, 100%, 0.5) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient( 50% 50%, 200% 50%, rgb(223, 223, 223) 5%, rgb(196, 195, 195) 30%, rgb(173, 172, 172) 100%);
}

.semana3 .emblema .gradiente {
    position: absolute;
    height: calc(100% - 8px);
    width: calc(100% - 8px);
    border-radius: 50%;
    background-image: -webkit-radial-gradient(  50%   0%,  8% 50%, hsla(54, 100%, 80%, 0.5) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient(  50% 100%, 12% 50%, hsla(54, 100%, 80%,.6) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient(   0%  50%, 50%  7%, hsla(54, 100%, 80%,.5) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient( 100%  50%, 50%  5%, hsla(54, 100%, 80%, 0.5) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient( 50% 50%, 200% 50%, rgb(255, 237, 166) 5%, rgb(255, 220, 103) 30%, rgb(235, 186, 25) 100%);
}

.semana4 .emblema .gradiente {
    position: absolute;
    height: calc(100% - 8px);
    width: calc(100% - 8px);
    border-radius: 50%;
    background-image: -webkit-radial-gradient(  50%   0%,  8% 50%, hsla(180, 100%, 80%, 0.5) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient(  50% 100%, 12% 50%, hsla(180, 100%, 80%,.6) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient(   0%  50%, 50%  7%, hsla(180, 100%, 80%,.5) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient( 100%  50%, 50%  5%, hsla(180, 100%, 80%, 0.5) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient( 50% 50%, 200% 50%, rgb(170, 253, 253) 5%, rgb(59, 226, 255) 30%, rgb(23, 199, 253) 100%);
}

.semana5 .emblema .gradiente {
    position: absolute;
    height: calc(100% - 8px);
    width: calc(100% - 8px);
    border-radius: 50%;
    background: conic-gradient(red, yellow, lime, aqua, blue, fuchsia, red);
}

.emblema:hover .gradiente{
    opacity: 0;
}

.emblema:hover .emblema-texto{
    opacity: 1;
}

.grade-principal {
    opacity: 1;
}

body {
    background-image: 
        radial-gradient(
            gold 15%,
            transparent 20%
        ),
        radial-gradient(
            red 15%,
            transparent 20%
        ),
        radial-gradient(
            red 3%,
            yellow 6%,
            lime 9%,
            blue 12%,
            rgb(81, 0, 148) 16%,
            red 18%,
            transparent 21%
        ),
        radial-gradient(
            red 3%,
            yellow 6%,
            lime 9%,
            blue 12%,
            rgb(81, 0, 148) 16%,
            red 18%,
            rgb(114, 245, 250) 21%
        );
    background-size: 80px 80px;
    --tamanho: 5px;
    --tamanho-neg: -80px;
    background-position: calc(var(--tamanho-neg)) calc(var(--tamanho-neg)), calc(var(--tamanho)) calc(var(--tamanho)), calc(var(--tamanho)) calc(var(--tamanho-neg)), calc(var(--tamanho-neg)) calc(var(--tamanho));
  }

