* {
    margin: 0;
}

body {
    display: flex;
    background-color: #000;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.texto-principal {
    background-color: rgb(7, 14, 117);
}

.texto-principal h1 {
    color: #fff;
}

.grade-principal {
    display: grid;
    min-height: 80%;
    width: 80%;
    grid-template-rows: auto auto 1fr;
}

.grade-segundaria {
    height: 452.39px;
    width: 595.19px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    position: relative;
}

.teste {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 100%;
    color: #fff;
}

.teste div{
    aspect-ratio: 1/1;
    background-color: rgba(239, 67, 255, 0.281);
}

.semana1, .semana2, .semana3, .semana4, .semana5{
    position: relative;
    border: solid 4px rgb(193, 230, 255);
    box-sizing: border-box;
    margin: 4px;
    height: calc(100% - 10px);
    width: calc(100% - 8px);
    grid-column: 1 / 9;
}

.borda-dourada {
    position: absolute;
    transform: translate(-10%);
    grid-column: 8 / 9;
    border: solid 4px rgb(255, 201, 25);
    box-sizing: border-box;
    width: calc(100% + 8px);
    height: calc(100% - 2px);
}
